.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.ham {
    cursor: pointer;
}

.topbarLeft {
    flex: 1;
}

.topbarLogo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
}

.topbarCenter {
    flex: 1;
}

.topbarRight {
    flex: 1;
}